<template>
  <div class="valuation">
    <strong>{{ valuation.label }}</strong>
    <br />
    <em>{{ valuation.description }}</em>
    <br />
    <span class="compensation-box-amount">{{ shownAmount }}</span>
  </div>
</template>
<script>
export default {
  name: "Valuation",
  props: {
    valuation: {
      type: Object,
      required: true
    },
    hasExercised: {
      type: Boolean,
      required: true
    }
  },
  computed: {
    shownAmount: function() {
      if (this.valuation.totalGain < 0 && !this.hasExercised) {
        return "$0.00";
      }
      return this.valuation.totalGainFormatted;
    }
  }
};
</script>
